*{
    padding: 0;
    margin: 0;
    font-weight: bold;
}
body {

}

ul, li{
    list-style: none;
}

/*トップページ*/
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    /*position: fixed;*/
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 64px;
}
.header_left{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header_sentence{
    color: lightblue;
}
.header_button{
    background: linear-gradient(-90deg, rgb(111, 211, 245), rgb(28, 110, 191));
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 10px 50px;
    box-shadow: 0 5px 10px 0 rgb(111, 211, 245)
}

main {
    background-size: cover;
    background-color: rgb(242, 241, 241);
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px 0 50px 0;
}
.top_main_left {
    display: grid;
    gap: 20px;
}
.time{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 145px;
    padding: 0;
    margin: 0;
}
.time li {
    background-color: #fff;
    list-style: none;
    border-radius: 20px;
    padding: 10px 0;
}
.time li p{
    text-align: center;
    line-height: 1.6;
}
.time_title{
    color: blue;
}
.time_number{
    color: black;
    font-size: 40px;
}
.time_unit{
    color: lightblue;
}
.bar_graph {
    background-color: #fff;
    height: 420px;
    border-radius: 20px;
    position: relative;
}

.top_main_right{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: 585px;
}
.top_main_right div{
    background-color: #fff;
    border-radius: 20px;
}
.top_main_right p{
    padding: 30px 0px 50px 20px;
}
.doughnut_language ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 10px;
}
.doughnut_language li::before{
    position: relative;
    top: -2px;
    left: -5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 100%;
}
.doughnut_content ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 10px;
}
.doughnut_content li::before{
    position: relative;
    top: -2px;
    left: -5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 100%;
}
.doughnut_list1::before{
    background: #0000ff;
}
.doughnut_list2::before{
    background: #4682b4;
}
.doughnut_list3::before{
    background: #00ced1;
}
.doughnut_list4::before{
    background: #00bfff;
}
.doughnut_list5::before{
    background: #9370db;
}
.doughnut_list6::before{
    background: #7b68ee;
}
.doughnut_list7::before{
    background: #0000cd;
}
.doughnut_list8::before{
    background: #00008b;
}
.top_main_bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
}
#bar_graph{
    position: absolute;
    top: 70px;
    right: 10px;
}

/*モーダル画面*/
dialog{
    border: none;
    border-radius: 30px;
    margin: auto;
    width: 900px;
}
.modal_dialog{
}

.modal_dialog_button{
    text-align: right;
    display: block;
    margin: 10px;
}
.modal_dialog_button button{
    color: gray;
    background-color: rgb(242, 241, 241);
    border: none;
    border-radius: 100%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.modal_dialog_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: 0 56px;
}
.modal_left{
    display: grid;
    gap: 20px;
}
.modal_study_day input{
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(242, 241, 241);
    border: none;
    border-radius: 10px;
}
.icon_del::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.modal_study_content{
    display: flex;
    flex-wrap: wrap;
}
.modal_dialog input[type="checkbox"]{
    display: none;
}
.modal_dialog input[type="checkbox"]+label{
    border: none;
    border-radius: 20px;
    background-color: rgb(242, 241, 241);
    margin: 5px ;
    padding: 10px;
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
}
.modal_dialog input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 3px;
    top: 50%;
    border:none;
    border-radius: 100%;
    background-color:gray ;
    margin-left: 10px;
}
.modal_dialog input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: ;
    top: 35%;
    left: 14px;
    border-radius: 10px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:#fff; /* チェックの色変更 お好きな色を */
}
.modal_study_language{
    display: flex;
    flex-wrap: wrap;
}

.modal_right{
    display: grid;
    gap: 20px;
}
.modal_study_time input{
    margin: 5px 0;
    width: 100%;
    height: 30%;
    background-color: rgb(242, 241, 241);
    border: none;
    border-radius: 10px;
}
.modal_twitter_comment textarea{
    margin: 5px 0;
    width: 100%;
    height: 50%;
    background-color: rgb(242, 241, 241);
    border: none;
    border-radius: 10px;
}
.modal_twitter_comment input{
    margin: 5px 0;
}
.modal_twitter_share input[type="checkbox"]+label::before{
    background-color: rgb(28, 110, 191);
}
.modal_bottom{
    text-align: center;
}
.modal_bottom_button{
    margin: 20px;
    background: linear-gradient(-90deg, rgb(111, 211, 245), rgb(28, 110, 191));
    border: none;
    border-radius: 30px;
    color: #fff;
    size: 20px;
    padding: 20px 150px;
    box-shadow: 0 5px 10px 0 rgb(111, 211, 245)
}

.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background:#fff;
    z-index: 9999;
}
.loading_animation{

}
.loading_finish{

}
.loading_finish_english::before{
    
}
.loading_finish_english::after{
    
}